<div ng-controller="Umbraco.Editors.MediaTypes.CreateController">

    <div class="umbracoDialog umb-dialog-body with-footer" ng-cloak>

        <div class="umb-pane" ng-show="!model.creatingFolder">
            <h5><localize key="create_createUnder">Create an item under</localize> {{currentNode.name}}</h5>

            <ul class="umb-actions umb-actions-child">
                <li class="umb-action">
                    <button type="button" class="umb-action-link umb-outline btn-reset" ng-click="createMediaType()" umb-auto-focus>
                        <umb-icon icon="icon-item-arrangement" class="icon large"></umb-icon>
                        <span class="menu-label">
                            <localize key="general_new">New</localize>
                            <localize key="content_mediatype">Media type</localize>
                        </span>
                    </button>
                </li>
                <li class="umb-action">
                    <button type="button" class="umb-action-link umb-outline btn-reset" ng-click="showCreateFolder()">
                        <umb-icon icon="icon-folder" class="icon large"></umb-icon>
                        <span class="menu-label"><localize key="general_folder"></localize>...</span>
                    </button>
                </li>
            </ul>
        </div>

        <div class="umb-pane" ng-show="model.creatingFolder">
            <form novalidate name="createFolderForm"
                ng-submit="createContainer()"
                val-form-manager>

            <div ng-show="error">
                <div class="alert alert-error">
                    <div><strong>{{error.errorMsg}}</strong></div>
                    <div>{{error.data.message}}</div>
                </div>
            </div>

                <umb-control-group label="Enter a folder name" hide-label="false">
                    <input 
                        type="text" 
                        name="folderName"
                        ng-model="model.folderName"
                        class="umb-textstring textstring input-block-level"
                        focus-when="{{model.creatingFolder}}"
                        required />
                </umb-control-group>

                <button type="submit" class="btn btn-primary"><localize key="general_create">Create</localize></button>
            </form>
        </div>

    </div>

    <div class="umb-dialog-footer btn-toolbar umb-btn-toolbar" ng-if="!model.creatingFolder">
        <button type="button" class="btn btn-info" ng-click="close()">
            <localize key="buttons_somethingElse">Do something else</localize>
        </button>
    </div>

</div>
